* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #2b1d0f;
    color: aliceblue;
}

header nav {
    display: flex;
    justify-content: space-between;
    background: #212121;
    padding: 25px;
    align-items: center;
    z-index: 1;
}

nav h1 {
    color: aqua;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

form input {
    flex-grow: 1;
    margin-right: 10px;
    padding: 10px;
    width: 280px;
    border: 1px solid #ccc;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
}

form button {
    padding: 10px 15px;
    background-color: #ff5c5c;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #ff5c5c;
}
/*Main Container*/
.recipe-container{
    text-align: center;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-gap: 40px;
    width: 80%;
    margin: 10px auto;
    padding: 20px;
    place-items: center;
}
.recipe{
    background-color: white;
    display: flex;
    flex-direction: column;
    color: black;
    padding: 6px;
    border-radius: 7px;
    box-shadow: 0 5px 10px rgba(78, 73, 73, .1),-5px -5px -10px rgba(34, 34, 33, .5);
    cursor: pointer;
    max-width: 350px;
}
.recipe h3 {
    font-size: 29px;
    padding: 10px;
    color: #212121;
    background-color: white;
}.recipe p{
    color: #212121;
    background-color: white;
    margin: 5px 0;
}
.recipe img{
    height: 400px;
}.recipe span{
    font-weight: bold;
    background:white;
    color: #212121;
}.recipe button{
    font-size: 20px;
    border: none;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    margin: 18px auto;
    background-color: #ff5c5c;
    color:3fff;
}
/* Fix for mobile responsiveness */
@media screen and (max-width: 600px) {
    header nav {
        flex-direction: column;
        padding: 15px;
    }
    nav h1 {
        justify-content: center;
    }
    header nav form {
        width: 100%;
    }
    form{
        padding-top: 10px;
    }
    form input {
        width: 240px;
        margin-right: 10px;
        flex-grow: 1;
    }
    form button {
        width: 30%;
    }
}
